// Place all the styles related to the beetle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
}

article {
  margin: 9vh auto;
  width: 20vw;
  text-align: center;
}
